<%= @sbjtId %>
<br>

<<<<<<< HEAD
<% for i in 1..4 %>
	<a href="<%= @url[i]%>">
		<%= i %>학년
	</a>
	빈자리 : <%= @avail[i] %><br>
<% end %>
<br>
<br>
학년별 수강신청 이후에는 학년별 빈자리와 관계없이 수강신청을 할 수 있습니다.

<a href="/">돌아가기</a>
=======

<% for i in 1..4 %>
	<%= i %>학년
	빈자리<%= @avail[i] %><br>
<% end %>
<!--
<%= @url %> 

<br>
	<%= @apply %><br>
	<%= @capacity %><br>
	빈자리<%= @avail %><br>
<br>

-->
>>>>>>> 5de54e15b1141cc934b9891b1944978b43d7c65f
